<!DOCTYPE html>

<html lang="es">
    <head>
        {% block title %}<title>PandeViajes</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/Estilos.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        {% block sidebar %}
        <div class="destino">
        <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">PandeViajes</label>
        <ul>
            <li><a class="active" href="{%url 'index' %}">Inicio</a></li>
            <li><a href="{%url 'Destinos' %}">Destinos</a></li>
            <li><a href="{%url 'Pasajes' %}">Pasajes</a></li>
            
            
        </ul>
        </nav>
        </div>
        
        {% endblock %}
        {% block content %}{% endblock %}
        
       
        
    </body>
   

    
   

</html>

